@mixin reset-style-for-select-and-button {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    outline: none;
}

$icon-height: 24px;

#top-navigation {
    padding: 8px 30px;
    background-color: #000000;
    color: #ffffff;
    ul {
        list-style: none;
        margin: 0;
        display: inline-block;
        li {
            display: inline-block;
            margin-right: 24px;
            :last-child {
                margin-right: 0;
            }
            a {
                text-decoration: none;
            }
        }
    }
}

#app-nav-bar {
    --digitraffic-nav-min-height: 56px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 30px;

    font-weight: 600;

    border-bottom: 1px solid var(--fds-color-brand-black, #000);

    .datacatalog-header {
        font-weight: 800;
        font-size: 1.25rem;
        min-height: var(--digitraffic-nav-min-height);
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
        padding: 1rem 24px;
        min-height: var(--digitraffic-nav-min-height);
        display: inline-block;
        width:100%
    }

    ul {
        list-style: none;
        margin: 0;
        display: inline-block;
        li {
            display: inline-block;
            :last-child {
                margin-right: 0;
            }
        }
    }
}
#nav-interactions-wrapper {
    justify-content: space-between;
    display: flex;
    flex: 1;
    align-items: center;
}
#app-navigation {
    background-color: #ffffff;
    color: #000000;
}
#nav-actions {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
    .search-form {
        margin: 0;
        padding: 0;
        border: none;
        @media (min-width: map-get($grid-breakpoints, md)) {
            max-width: 300px;
        }
    }
    .user-action-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;

        #user-action-select {
            @include reset-style-for-select-and-button;
            display: flex;
            align-items: center;
            min-height: var(--digitraffic-nav-min-height);

            &::before {
                content: url("../../../../../../node_modules/lucide-static/icons/user.svg");
                height: $icon-height;
            }

            &::after {
                width: $icon-height;
                height: $icon-height;
            }

            &[aria-expanded="true"]::after {
                content: url("../../../../../../node_modules/lucide-static/icons/chevron-up.svg");
            }
            &[aria-expanded="false"]::after {
                content: url("../../../../../../node_modules/lucide-static/icons/chevron-down.svg");
            }
        }
        &.js-disabled {
            #user-action-list {
                display: flex;
            }
            &:hover {
                ul {
                    li {
                        height: auto;
                    }
                }
            }
        }

        #user-action-list {
            top: var(--digitraffic-nav-min-height);
            padding-left: 0;
            display: none;
            flex-direction: column;
            position: absolute;

            background-color: var(--fds-color-brand-white, #ffffff);
            border: 1px solid #f2f2f2;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border-top: 1px solid var(--fds-color-brand-black, #000000);

            li {
                height: 0;
                width: 100%;
                overflow: hidden;
            }

            &.expanded {
                display: flex;

                li {
                    height: auto;
                    overflow: visible;
                }
            }
        }
    }
    .lang-icon {
        margin: 0;
        .form-group {
            margin: 0;
            &::after {
                content: url("../../../../../../node_modules/lucide-static/icons/globe.svg");
                bottom: 0;
                right: 0;
            }
        }
        select {
            @include reset-style-for-select-and-button;
            width: 24px;
            color: white;
        }
    }
}