{# 
Generates given groupings of fields under headers.

Example:

{% set field_groups = {
  "general": {
      "label": _("General"),
      "help_text": _("Provide basic information about the dataset."),
      "fields": ["owner_org", "title_translated", "name", "frequency", "location", "mobility_theme", "notes_translated", "category", "start_timestamp", "end_timestamp", "transport_mode"]
  },
  "versioning" : {
    "label": _("Versioning"),
    "help_text": _("Fill in versioning details where applicable."),
    "fields": ["version", "version_notes_translated"]
  }
} %}

{% snippet 'package/snippets/field_group.html',
  field_groups=field_groups,
  schema=schema,
  data=data,
  errors=errors,
  dataset_type=dataset_type
-%}

#}

{% for group_key, group_details in field_groups.items() %}
  <div class="field-group">
    <h3>{{ group_details.label }}</h3>
    <p class="help-text">{{ group_details.help_text }}</p>
    <div class="field-group-content">
      {% for field_name in group_details.fields %}
        {% set field = schema.dataset_fields | selectattr('field_name', 'equalto', field_name) | first %}
        {% if field %}
          {%- if field.form_snippet is not none -%}
            {%- if field.field_name not in data %}
              {# Set the field default value before rendering but only if
              it doesn't already exist in data which would mean the form
              has been submitted. #}
              {% if field.default_jinja2 %}
                {% do data.__setitem__(
                  field.field_name,
                  h.scheming_render_from_string(field.default_jinja2)) %}
              {% elif field.default %}
                {% do data.__setitem__(field.field_name, field.default) %}
              {% endif %}
            {% endif %}
            {%- snippet 'scheming/snippets/form_field.html',
                field=field,
                data=data,
                errors=errors,
                licenses=c.licenses,
                entity_type='dataset',
                object_type=dataset_type
              -%}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}