{% for field_name in fields %}
    {% set field = schema_fields | selectattr('field_name', 'equalto', field_name) | first %}
    {% if field %}
        {%- if field.form_snippet is not none -%}
            {%- if field.field_name not in data %}
                {# Set the field default value before rendering but only if
                   it doesn't already exist in data which would mean the form
                   has been submitted. #}
                {% if field.default_jinja2 %}
                    {% do data.__setitem__(
                           field.field_name,
                           h.scheming_render_from_string(field.default_jinja2)) %}
                {% elif field.default %}
                    {% do data.__setitem__(field.field_name, field.default) %}
                {% endif %}
            {% endif %}
            {%- snippet 'scheming/snippets/form_field.html',
                field=field,
                data=data,
                errors=errors,
                licenses=c.licenses,
                entity_type='dataset',
                object_type=dataset_type,
                package_id=package_id if package_id is defined else None,
                necessity=field.necessity if field.necessity is defined else None
            -%}
        {% endif %}
    {% endif %}
{% endfor %}