*

!dcat_schema_transpiler
!docker
!docker/**
!ext
!ext/ckanext-digitraffic_theme
!ext/ckanext-digitraffic_theme/*/
!ext/ckanext-entraid_authenticator
!ext/ckanext-entraid_authenticator/*/
!ext/ckanext-digitraffic_fluent
!ext/ckanext-digitraffic_fluent/*/
!ext/ckanext-scheming
!ext/ckanext-scheming/*
!ext/ckanext-scheming/**/*

!local-env
!local-env/**

!.gitignore
!package.json
!package-lock.json
!README.md

# Github
!.github/
!.github/**/
!.github/workflows/**/**.yml
!.github/CODEOWNERS
!/.github/dependabot.yml

docker/ckan/ckanext
local-env/.env_entra
