*

!dcat_schema_transpiler
!docker
!docker/**
!ext
!ext/ckanext-digitraffic_core
!ext/ckanext-digitraffic_core/*/
!ext/ckanext-entraid_authenticator
!ext/ckanext-entraid_authenticator/*/
!ext/ckanext-digitraffic_fluent
!ext/ckanext-digitraffic_fluent/*/
!ext/ckanext-scheming
!ext/ckanext-scheming/*
!ext/ckanext-scheming/**/*
!ext/ckanext-digitraffic_opentelemetry
!ext/ckanext-digitraffic_opentelemetry/*/

!local-env
!local-env/**

!.gitignore
!package.json
!package-lock.json
!README.md
!LICENSE

# Github
!.github/
!.github/**/
!.github/workflows/**/**.yml
!.github/CODEOWNERS
!/.github/dependabot.yml

docker/ckan/ckanext
local-env/.env_entra
local-env/.env_test_users
local-env/.idea
local-env/*/build
