*
!dcat_schema_transpiler/
!dcat_schema_transpiler/**/
!dcat_schema_transpiler/**/*.py
!tests
!tests/**/
!tests/**/*.py
!scripts
!scripts/**/
!scripts/**/*.py
!poetry.lock
!pyproject.toml
!poetry.toml
!README.md
!.gitignore