{% extends "multilingual_field.html" %}


{%- block field_inputs -%}
    {%- for lang in h.fluent_form_languages(field, entity_type, object_type, schema) -%}
      {% call form.input(
        field.field_name + '-' + lang,
        id='field-' + field.field_name + '-' + lang,
        label=h.fluent_form_label(field, lang) + " " + language_specifiers[lang],
        placeholder=h.scheming_language_text(field.form_placeholder, lang),
        value=data[field.field_name + '-' + lang]
            or data.get(field.field_name, {})[lang],
        error=errors[field.field_name + '-' + lang],
        classes=['control-medium', (lang != "en" and not (data[field.field_name + '-' + lang] or data.get(field.field_name, {})[lang])) and "hidden" or "", "multilingual"], 
        attrs=field.form_attrs if 'form_attrs' in field else {},
        is_required=lang in h.fluent_required_languages(field),
        necessity="recommended" if field.get('necessity', None) == "mandatory" and lang != "en" else field.get('necessity', None)
        ) %}
        {% if lang != "en" %}
            <svg id="{{field.field_name}}-{{lang}}" class="hide-language-input" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 6L6 18" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6 6L18 18" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        {%- endif -%}
        {%- snippet 'scheming/form_snippets/fluent_help_text.html',
          field=field,
          lang=lang -%}
      {% endcall %}
    {%- endfor -%}
{% endblock -%}
