<fieldset>
<legend>{{ field.legend }}</legend>
{% for field in h.expand_field_group_schemas(field.fields) %}
    {%- if field.form_snippet is not none -%}
        {%- if field.field_name not in data %}
            {% if field.default_jinja2 %}
                {% do data.__setitem__(
            field.field_name,
            h.scheming_render_from_string(field.default_jinja2)) %}
            {% elif field.default %}
                {% do data.__setitem__(field.field_name, field.default) %}
            {% endif %}
        {% endif -%}
        {%- snippet 'scheming/snippets/form_field.html',
        field=field,
        data=data,
        errors=errors,
        licenses=c.licenses,
        entity_type='dataset',
        object_type=dataset_type
                -%}
    {%- endif -%}
{% endfor %}
</fieldset>