*

!.gitignore
!COPYING
!COPYING.fr
!dev-requirements.txt
!LICENSE
!MANIFEST.in
!README.md
!requirements.txt
!setup.py
!test.ini

!/ckanext/
!/ckanext/fluent/
!/ckanext/fluent/**/
!/ckanext/fluent/**/*.*
!/ckanext/__init__.py

__pycache__
