.field-group-cell-container {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-areas:
        "left-1"
        "left-2"
        "left-3"
        "left-4";
}

.left-1 {
    grid-area: left-1;
}

.left-2 {
    grid-area: left-3;
}

.right-1 {
    grid-area: left-2;
}

.right-2 {
    grid-area: left-4;
}

/* two-column layout for larger screens */
@media (min-width: 768px) {
    .field-group-cell-container {
        grid-template-areas:
        "left-1 right-1"
        "left-2 right-2";
    }

    .field-group-cell {
        background-color: var(--fds-color-neutral-50);
        padding: var(--digitraffic-data-form-cell-padding);
    }

    .left-1 {
        grid-area: left-1;
    }

    .left-2 {
        grid-area: left-2;
    }

    .right-1 {
        grid-area: right-1;
    }

    .right-2 {
        grid-area: right-2;
    }

    .form-actions {
        margin-top: 30px;
    }

}

.form-group {
    .form-necessity {
        float: right;
        border: 1px solid;
        padding: 0 6px;
        border-radius: 4px;
        font-weight: var(--fds-typography-emphasis-default-font-weight);
        font-size: var(--fds-typography-body-small-font-size);
    }

    .form-necessity-mandatory {
        border-color: var(--fds-color-danger-100);
        color: var(--fds-color-danger-400);
        background-color: var(--fds-color-danger-50);
    }

    .form-necessity-recommended {
        border-color: var(--fds-color-warning-100);
        color: var(--fds-color-warning-400);
        background-color: var(--fds-color-warning-50);
    }

    .form-necessity-optional {
        border-color: var(--fds-color-neutral-100);
        color: var(--fds-color-neutral-400);
        background-color: var(--fds-color-neutral-50);
    }

    &.hide-necessity {
        .form-necessity {
            display: none;
        }
    }

    input {
        width: 100%;
    }

    input[id$="translated-fi"],
    input[id$="translated-sv"] {
        width: 90%
    }
}

.form-check-input[type=radio] {
    margin-top: 0;
    appearance: auto;
}

// wrapper around dataset/resource edit form
.row.wrapper.no-nav {
    border: none;
    border-radius: 0;
    box-shadow: none;
}


.language-toggle-buttons {
    margin-bottom: 30px;
}

.language-toggle-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    color: var(--fds-color-text-1000);
    background-color: var(--fds-color-background);
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
    white-space: nowrap;
    margin-right: 10px;
}

.language-toggle-button:hover {
    background-color: var(--fds-color-interactive-100);
    border-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.language-toggle-button:focus {
    outline: 2px solid var(--fds-color-interactive-100);
    outline-offset: 2px;
}

.language-toggle-button svg {
    width: 1rem;
    height: 1rem;
}

.hidden {
    display: none;
}

.hide-language-input {
    cursor: pointer;
}

.form-group.control-medium.multilingual {
    margin-bottom: 15px;
}

[data-module="scheming-repeating-subfields"] {
    .panel-heading {
        padding: 2px 0;

        .btn.btn-danger.btn-repeating-remove {
            top: 0;
            right: 0;
        }
    }
}