/* mobile single-column layout */
@media (max-width: 767px) {
    .field-group-cell-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

/* two-column layout for larger screens */
@media (min-width: 768px) {
    .field-group-cell-container {
        --used-padding: 6px;
        --used-margin: 6px;
    }

    .field-group-cell {
        width: calc(50% - 2*var(--used-margin));
        background-color: rgb(245, 245, 245);
        padding: 20px;
    }

    .left-1 {
        float: left;
    }

    .left-2 {
        float: left;
    }

    .right-1 {
        float: right;
    }

    .right-2 {
        float: right;
    }

    .form-actions {
        margin-top: 30px;
    }

    .form-actions-spacer {
        clear: both;
    }

}

// wrapper around dataset/resource edit form
.row.wrapper.no-nav {
    border: none;
    border-radius: 0;
    box-shadow: none;
}