@use '../variables';

$select-dropdown-area: dropdown;
$select-error-area: error;

// scheming plugin and CKAN’s development primer page
.controls:has(> select) {
    position: relative;
    display: grid;
    grid-template-areas:
        "#{$select-dropdown-area}"
        "#{$select-error-area}";
    align-items: center;

    select {
        grid-area: $select-dropdown-area;
        padding: var(--fds-select-padding-top) var(--fds-select-padding-right) var(--fds-select-padding-bottom) var(--fds-select-padding-left)
    }

    .error-block {
        grid-area: $select-error-area;
    }

    &::after {
        content: url("lucide-static/icons/chevron-down.svg");
        width: 22px;
        height: 22px;
        position: absolute;
        right: .75rem;
        pointer-events: none;
        grid-area: $select-dropdown-area;
    }
}

//  Snippet snippets/search_form.html start
#{variables.$form-select-selector} {
    position: relative;
    display: flex;
    align-items: flex-start;

    label {
        // Label might be on top of the select element or to its left. We want to center it with select when it
        // is to the left.
        align-self: unset;
        padding: var(--fds-select-padding-top) var(--fds-select-padding-top) var(--fds-select-padding-bottom) 0;
    }

    select {
        background-image: none;
        width: 100%;
        appearance: none;
        padding: var(--fds-select-padding-top) var(--fds-select-padding-right) var(--fds-select-padding-bottom) var(--fds-select-padding-left)
    }

    &::after {
        content: url("lucide-static/icons/chevron-down.svg");
        width: 22px;
        height: 22px;
        position: absolute;
        right: .75rem;
        bottom: .5rem;
        pointer-events: none;
    }
}