{% extends "page.html" %}

{% set register_url = h.url_for('user.register') %}


{% block content %}
<div class="digitraffic-catalog-homepage instructions-page">

    <section class="homepage-hero instructions">
        <div class="hero-content instructions">
            <h1>{% trans %}Why publish data in Traffic Data Catalogue?{% endtrans %}</h1>
            <p>
                {% trans %}Legislation requires traffic data holders, such as municipalities, to make their data available through the National Access Point (NAP). However, this is not just an obligation – it also brings significant opportunities:{% endtrans %}
            </p>
            <ul>
                <li>{% trans %}The visibility and impact of traffic data is increased both nationally and internationally.{% endtrans %}</li>
                <li>{% trans %}The data is interoperable and easy to use in, for example, digital services, research, and traffic planning.{% endtrans %}</li>
                <li>{% trans %}Open data enables new innovations and better services for travellers, residents, and businesses.{% endtrans %}</li>
            </ul>
            <p>
                {% trans %}By publishing your data through the NAP, you meet the legal requirements while also advancing the development of smart mobility.{% endtrans %}
            </p>
            {% if c.user %}
                <a href="{{h.url_for('dataset.new')}}" class="btn btn-primary">{% trans %}Add new dataset{% endtrans %}</a>
            {% else %}
                {% include "home/hero_buttons.html" %}
            {% endif %}
        </div>
        <div class="hero-image instructions"></div>
    </section>

    <section class="instruction-steps">
        <div class="instruction-step">
            <div class="step-number-block blue">
                <span class="step-number">01</span>
            </div>
            <div class="step-content">
                <div class="step-title">{% trans %}Register as a user{% endtrans %}</div>
                <div class="step-desc">
                    <p>{% trans %}Start <a href="{{ register_url }}">by registering</a> as a user of the Traffic Data Catalogue. If you already have Fintraffic ID in use, you can skip the registration and log in using your Fintraffic ID.{% endtrans %}</p>
                    <p>{% trans %}Once you are logged in to the Traffic Data Catalogue, you need to request your organization's membership from your organization's administrator. If your organization is not already in the catalogue, please request to be added by emailing us at: <a href="mailto:nap@fintraffic.fi">nap@fintraffic.fi</a>{% endtrans %}</p>
                </div>
            </div>
        </div>
        <div class="instruction-step">
            <div class="step-number-block black">
                <span class="step-number">02</span>
            </div>
            <div class="step-content">
                <div class="step-title">{% trans %}Create a dataset{% endtrans %}</div>
                <div class="step-desc">{% trans %}Describe and create your dataset according to the fields and instructions on the form. At the dataset level, you describe the general properties of the data. The actual data and the APIs or services distributing it are described in the next step.{% endtrans %}</div>
            </div>
        </div>
        <div class="instruction-step">
            <div class="step-number-block blue">
                <span class="step-number">03</span>
            </div>
            <div class="step-content">
                <div class="step-title">{% trans %}Add resources{% endtrans %}</div>
                <div class="step-desc">{% trans %}A single dataset can have several data sources, such as APIs and file packages. At this stage, add the different ways to access the dataset.{% endtrans %}</div>
            </div>
        </div>
        <div class="instruction-step">
            <div class="step-number-block black">
                <span class="step-number">04</span>
            </div>
            <div class="step-content">
                <div class="step-title">{% trans %}Publish the dataset{% endtrans %}</div>
                <div class="step-desc">{% trans %}By setting the dataset's visibility to "Public", your dataset will be visible to all users in the catalogue and can be found using the catalogue's search functions. If you wish, you can set private visibility, in which case your dataset will only be visible to members of your own organization.{% endtrans %}</div>
            </div>
        </div>
    </section>

</div>
{% endblock %}

