*

!.gitignore
!README.md
!requirements.txt
!setup.py
!.env.example

!/ckanext/
!/ckanext/digitraffic_validators/
!/ckanext/digitraffic_validators/**/
!/ckanext/digitraffic_validators/**/*.*
!/ckanext/__init__.py

__pycache__
