@use '@fintraffic/fds-coreui-css/src/scss/tokens';

// Base variables
$imagePath: "ckan/ckan/public/base/images";
$bgPath: "#{$imagePath}/bg.png";

// Layout Variables
$layoutFontFamily: tokens.$typography-body-default-font-family;
$layoutTextColor: tokens.$color-text-1000;
$layoutBoldColor: tokens.$color-text-1000;
$layoutLinkColor: tokens.$color-text-1000;
$layoutBackgroundColor: tokens.$color-neutral-200;
$layoutTrimBackgroundColor: tokens.$color-neutral-200;
$layoutTrimBorderColor: tokens.$color-neutral-300;
$logoMaxHeight: 60px;

$navLinkColor: tokens.$color-text-1000;
$navActiveBackgroundColor: tokens.$color-brand-white;

// Module Variables
$moduleBackgroundColor: tokens.$color-neutral-200;
$moduleHeadingBorderColor: tokens.$color-neutral-300;
$moduleHeadingBackgroundColor: tokens.$color-neutral-100;
$moduleHeadingActionTextColor: tokens.$color-neutral-400;
$moduleExpandedBackgroundColor: rgba(255, 255, 255, 0.9);

$tabTextColor: tokens.$color-brand-white;
$tagBackgroundColor: tokens.$color-brand-black;

$gutterX: 1rem;
$gutterY: 1rem;
$gutterSmallX: $gutterX;
$gutterSmallY: $gutterY;

$emptyTextColor: tokens.$color-text-300;
$genericBorderColor: tokens.$color-neutral-300;

$breadcrumbTextColor: tokens.$color-text-1000;

$mastheadTextColor: tokens.$color-text-1;
$mastheadLinkColor: $mastheadTextColor;
$mastheadBackgroundColor: tokens.$color-brand-black;
$mastheadBackgroundColorStart: tokens.$color-brand-black;
$mastheadBackgroundColorEnd: tokens.$color-brand-black;

$navItemActiveTextColor: $layoutTextColor;
$navItemActiveBackgroundColor: $layoutBackgroundColor;
$navItemActiveArrowSize: 6px;

$pillTextColor: $navItemActiveTextColor;
$pillBackgroundColor: darken($navItemActiveBackgroundColor, 10%);

$footerTextColor: tokens.$color-text-300;
$footerLinkColor: $footerTextColor;

$inputColor: tokens.$color-text-1000;
$inputBackground: tokens.$color-brand-white;
$inputBorder: tokens.$color-neutral-200;
$inputBorderRadius: 4px;
$disabledCustomInputTextColor: tokens.$color-text-300;
$disabledCustomInputBackground: tokens.$color-neutral-50;

$highlightBackground: grey;
$highlightHoverBackground: grey;

// Forms

$errorText: tokens.$color-danger-400;
$errorBackground: tokens.$color-danger-100;
$errorBorder: tokens.$color-danger-200;

$formInfoText: tokens.$color-interactive-400;

$stagesTextColor: tokens.$color-text-1;
$stagesBackground: tokens.$color-brand-black;
$stagesTransparentBackground: rgba(237, 237, 237, 0);
$stagesActiveTextColor: $stagesTextColor;
$stagesActiveBackground: tokens.$color-interactive-200;
$stagesActiveTransparentBackground: rgba(140, 198, 138, 0);
$stagesCompleteTextColor: tokens.$color-interactive-400;
$stagesCompleteBackground: tokens.$color-interactive-100;
$stagesCompleteTransparentBackground: rgba(197, 226, 196, 0);
$stagesCounterTextColor: $stagesTextColor;
$stagesCounterBackground: $stagesBackground;
$stagesCounterActiveTextColor: $stagesTextColor;
$stagesCounterActiveBackground: $stagesActiveBackground;
$stagesCounterCompleteTextColor: $stagesTextColor;
$stagesCounterCompleteBackground: $stagesCompleteBackground;

$codeTextColor: tokens.$color-text-1000;


// Datasets

$listingHeadingTextColor: $layoutTextColor;
$resourceFormatBackground: $layoutBackgroundColor;

// Table

$chunkyTableHeaderTextColor: tokens.$color-text-1;
$chunkyTableHeaderBackgroundColor: tokens.$color-brand-black;
$chunkyTableStripeBackgroundColor: rgba(tokens.$color-brand-black, 0.05);

// Twitter Bootstrap Overrides
$bodyBackground: $layoutBackgroundColor;
$btnBackground: tokens.$color-brand-black;
$btnBackgroundHighlight: tokens.$color-brand-white;
$btnPrimaryBackground: $btnBackground;
$btnPrimaryBackgroundHighlight: $btnBackgroundHighlight;
$baseFontFamily: $layoutFontFamily;
$textColor: $layoutTextColor;
$linkColor: $layoutLinkColor;
$iconSpritePath: "../images/bootstrap-glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/bootstrap-glyphicons-halflings-white.png";

// Navigation
$zindex-navbar: 1;
