@import '~ckan/ckan/public/base/scss/bootstrap-variables';

.account-masthead {
    @media (min-width: map-get($grid-breakpoints, md)) {
        .container {
            min-width: 100%;
            padding: 0px;
            
            .account {
                min-width: 250px;
            }
        }
    }
}