{# This is a copy of https://github.com/ckan/ckan/blob/2.10/ckan/templates/package/snippets/package_form.html with
   change being:
     - The form is wrapped inside the div with digitraffic_core_dataset_form_wrapper data-module
     - "introduction" block is added
     - "action-info" is removed
#}
{% import 'macros/form.html' as form %}
{% set action = g.form_action or '' %}

<div data-module="digitraffic_core_dataset_form_wrapper">

  {# This provides a full page that renders a form for adding a dataset. It can
  then itself be extended to add/remove blocks of functionality. #}
  <form id="dataset-edit" class="dataset-form" method="post" action="{{ action }}" data-module="basic-form" novalidate>
    {{ h.csrf_input() }}
    {% block stages %}
    {{ h.snippet('package/snippets/stages.html', stages=stage, dataset_type=dataset_type) }}
    {% endblock %}

    <input type="hidden" name="_ckan_phase" value="dataset_new_1" />
    {# pkg_name used in 3 stage edit #}
    <input type="hidden" name="pkg_name" value="{{ data.id }}" />
    {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

    {% block introduction %}
    {% endblock %}

    {% block basic_fields %}
    {% snippet 'package/snippets/package_basic_fields.html', data=data, errors=errors %}
    {% endblock %}

    {% block metadata_fields %}
    {% snippet 'package/snippets/package_metadata_fields.html', data=data, errors=errors %}
    {% endblock %}

    {% block form_actions %}
    <div class="form-actions-spacer"></div>
    <div class="form-bottom">
      {% block disclaimer %}
      {% endblock %}
      {{ form.required_message() }}
      <div class="form-actions">
        {% block delete_button %}
        {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
        <a class="btn btn-danger pull-left"
           href="{% url_for dataset_type ~ '.delete', id=data.id %}"
           data-module="confirm-action"
           data-module-content="{{ h.humanize_entity_type('package', dataset_type, 'delete confirmation') or _('Are you sure you want to delete this dataset?') }}">
          {% block delete_button_text %}{{ _('Delete') }}{% endblock %}
        </a>
        {% endif %}
        {% endblock %}
        {% block save_button %}
        <div class="save-button-block">
          <button class="btn btn-primary" type="submit" name="save">
            {% block save_button_text %}{{ _('Next: Add data')  }}{% endblock %}
          </button>
          {% if form_style != 'edit' %}
            <div class="info-block"><i class="fa fa-info-circle"></i> {{_('Form information will be saved as a draft in your datasets when you continue to the next step.') }}</div>
          {% endif %}
        </div>
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </form>
</div>