<nav id="top-navigation" data-module="digitraffic_theme_top_navigation">
    <a href="https://www.fintraffic.fi/fi">
        <svg viewBox="0 0 253 42" style="height: 18px">
            <use href="/assets/fintraffic_horizontal_white.svg#fintraffic_horizontal_white"></use>
        </svg></a>
    <ul>
        <li><a href="https://liikennetilanne.fintraffic.fi/" target="_blank">Liikennetilanne</a></li>
        <li><a href="https://www.palautevayla.fi/aspa?lang=fi" target="_blank">Palauteväylä</a></li>
        <li><a href="https://junalahdot.fintraffic.fi/" target="_blank">Junalähdöt</a></li>
        <li><a href="https://skynavx.fi/#/drone" target="_blank">Dronepalvelut</a></li>
        <li><a href="https://www.digitraffic.fi" target="_blank">Digitraffic</a></li>
        <li><a href="https://digitransit.fi/" target="_blank">Digitransit</a></li>
        <li><a href="https://opas.matka.fi/" target="_blank">Reittiopas</a></li>
        <li><a href="https://finap.fi/#/" target="_blank">NAP</a></li>
    </ul>
</nav>