<!-- This is essentially the same as CKAN's original. With the difference of not using BS dropdown -->
{#
is_icon_select - true or false
id - id for select
#}
{% set current_lang = request.environ.CKAN_LANG %}
<form class="lang-select {% if is_icon_select %}lang-icon{% endif %}" action="{% url_for 'util.internal_redirect' %}" data-module="select-switch" method="POST">
    {{ h.csrf_input() }}
    <div class="form-group">
        <label for="{{ id }}" {% if is_icon_select %}class="d-none"{% endif %}>{{ _('Language') }}</label>
        <select id="{{ id }}" name="url">
            {% for locale in h.get_available_locales() %}
            <option value="{% url_for h.current_url(), locale=locale.short_name %}" {% if locale.short_name == current_lang %}selected="selected"{% endif %}>
                {{ locale.display_name or locale.english_name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-default d-none " type="submit">{{ _('Go') }}</button>
</form>