<script type="text/javascript">
    (function() {
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('consent', 'default', {
            ad_storage: 'denied',
            analytics_storage: 'denied',
            wait_for_update: 1500,
        });
        gtag('set', 'ads_data_redaction', true);
    
        let consentAsked = false;
    
        function askConsent() {
            if (consentAsked) return;
            consentAsked = true;
    
            let langCode = "EN";
            if (navigator.language.substring(0,2) === "fi") {
                langCode = "FI";
            }
            if (window.location.host.endsWith("digitraffic.fi")) {
                const script = document.createElement('script');
                script.type='text/javascript';
                script.id="CookieConsent";
                script.setAttribute("data-culture", langCode);
                script.src = 'https://policy.app.cookieinformation.com/uc.js';
                document.getElementsByTagName('head')[0].appendChild(script);
            }
        }
    
        if (document.readyState === "loading") {
            document.addEventListener("DOMContentLoaded", askConsent);
        } else {
            askConsent();
        }
    })();
</script>