<!-- https://github.com/ckan/ckan/blob/master/ckan/templates/user/edit_user_form.html -->

<!-- Removes password change form visible in default template when editing user information -->
<!-- Makes email field readonly (should be updated via Graph API) -->

{% ckan_extends %}

{% block core_fields %}
    <fieldset>
        <legend>{{ _('Change details') }}</legend>
        {{ form.input('name', label=_('Username'), id='field-username', value=data.name, error=errors.name, classes=['control-medium'], attrs={'readonly': '', 'class': 'form-control'}) }}
        {{ form.input('fullname', label=_('Full name'), id='field-fullname', value=data.fullname, error=errors.fullname, placeholder=_('eg. Joe Bloggs'), classes=['control-medium']) }}
        {{ form.input('email', label=_('Email'), id='field-email', type='email', value=data.email, error=errors.email, placeholder=_('eg. joe@example.com'), classes=['control-medium'], attrs={'readonly': '', 'class': 'form-control'}) }}
        {{ form.markdown('about', label=_('About'), id='field-about', value=data.about, error=errors.about, placeholder=_('A little information about yourself')) }}

        {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
        {% set is_url = data.image_url and data.image_url.startswith('http') %}

        {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label=_('Profile picture'), url_label=_('Profile picture URL') ) }}
        <!-- Send empty values to backend, missing keys in request produce a KeyError after password change form has been removed -->
        <input type="hidden" name="password1" value="" />
        <input type="hidden" name="password2" value="" />
        <input type="hidden" name="old_password" value="" />
    </fieldset>
{% endblock %}

{% block extra_fields %}
    {% if g.userobj.sysadmin and data.state == 'deleted' %}
        {% call form.checkbox('activate_user', label=_('Reactivate User'), id='activate_user', value=True, checked=false) %}
            {% set helper_text = _('This account is deactivated, if you want to reactivate it, please click on checkbox.') %}
            {{ form.info(helper_text, classes='info-help-tight') }}
        {% endcall %}
    {% endif %}
    {{ form.input('first_name', label=_('First name'), id='field-first-name', value=data.digitraffic_user.first_name, error=errors.first_name, placeholder=_('eg. Joe'), classes=['control-medium']) }}
    {{ form.input('surname', label=_('Surname'), id='field-surname', value=data.digitraffic_user.surname, error=errors.surname, placeholder=_('eg. Bloggs'), classes=['control-medium']) }}
    {{ form.input('country_of_residence', label=_('Country of recidence'), id='field-country-of-residence', value=data.digitraffic_user.country_of_residence, error=errors.country_of_residence, placeholder=_('eg. Finland'), classes=['control-medium']) }}
    {{ form.input('county', label=_('County'), id='field-county', value=data.digitraffic_user.county, error=errors.county, placeholder=_('eg. Uusimaa'), classes=['control-medium']) }}
    {{ form.input('post_code', label=_('Post Code'), id='field-post-code', value=data.digitraffic_user.post_code, error=errors.post_code, placeholder=_('eg. 1234567'), classes=['control-medium']) }}
    {{ form.input('city', label=_('City'), id='field-city', value=data.digitraffic_user.city, error=errors.city, placeholder=_('eg. Helsinki'), classes=['control-medium']) }}
    {{ form.input('street_address', label=_('Street Address'), id='field-street-address', value=data.digitraffic_user.street_address, error=errors.street_address, placeholder=_('eg. Testikatu 1'), classes=['control-medium']) }}

{% endblock %}

{% block sysadmin_password %}
{% endblock %}

{% block sysadmin_old_password %}
{% endblock %}

{% block change_password %}
{% endblock %}
