# This .npmrc is for local development with pnpm outside of Rush.
# Rush uses common/config/rush/.npmrc instead.
# Keep security-related exclusions in sync with common/config/rush/.npmrc

use-node-version=24.12.0
auto-install-peers=false
strict-peer-dependencies=true
minimum-release-age=10080
ignore-scripts=true

# Internal packages - always allow latest
minimum-release-age-exclude[]=@digitraffic/common

# Security related fixes - allow specific versions immediately
# These versions are enforced via globalOverrides in pnpm-config.json
#
# TODO(2026-03-06): Remove serialize-javascript exclusion (will be 7 days old)
# serialize-javascript: 7.0.3 (GHSA-5c6j-r48x-rmvq) - published 2026-02-27
minimum-release-age-exclude[]=serialize-javascript@7.0.3
# TODO(2026-03-10): Remove immutable exclusion (will be 7 days old)
# immutable: 5.1.5 (GHSA-wf6x-7x77-mvgw) - published 2026-03-03
minimum-release-age-exclude[]=immutable@5.1.5
# TODO(2026-03-12): Remove minimatch exclusion (will be 7 days old)
# minimatch: 3.1.4 (GHSA-23c5-xmqv-rm74, GHSA-3ppc-4f35-3m26, GHSA-7r86-cg39-jmmj)
minimum-release-age-exclude[]=minimatch@3.1.4|minimatch@10.2.4
# TODO(2026-03-12): Remove svgo exclusion (will be 7 days old)
# svgo: 4.0.1 (GHSA-xpqw-6gx7-v673) - published 2026-03-04
minimum-release-age-exclude[]=svgo@4.0.1
# TODO(2026-03-08): Remove sax exclusion (will be 7 days old)
# sax: 1.5.0 (dependency of svgo) - published 2026-03-01
minimum-release-age-exclude[]=sax@1.5.0
# TODO(2026-03-12): Remove dompurify exclusion (will be 7 days old)
# dompurify: 3.3.2 (GHSA-v2wj-7wpq-c8vv) - published 2026-03-05
minimum-release-age-exclude[]=dompurify@3.3.2
