include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/digitraffic_core *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/digitraffic_core/migration *.ini *.py *.mako
