{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields = [
    'id',
    'title',
    'title_translated',
    'name',
    'notes',
    'notes_translated',
    'tag_string',
    'license_id',
    'owner_org',
    'related_resource',
    'is_referenced_by'
    ] -%}

{% block package_additional_info %}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name == 'title_translated' -%}
        {# Show English value if current language not available #}
        {% set title = pkg_dict.get('title_translated', {}).get(request.environ.CKAN_LANG) or pkg_dict.get('title_translated', {}).get("en", pkg_dict.title)  %}
        <tr>
        <th scope="row" class="dataset-label">{{
          h.scheming_language_text(field.label) }} 
        </th>
        <td class="dataset-details"
            {% if field.display_property %} property="{{ field.display_property }}"{% endif %}>{{title}}</td>
        </tr>
    {%- endif -%}
    {%- if field.field_name == 'notes_translated' -%}
        {# Show English value if current language not available #}
        {% set notes = pkg_dict.get('notes_translated', {}).get(request.environ.CKAN_LANG) or pkg_dict.get('notes_translated', {}).get("en", pkg_dict.title)  %}
        <tr>
        <th scope="row" class="dataset-label">{{
          h.scheming_language_text(field.label) }} 
        </th>
        <td class="dataset-details"{% if field.display_property %} property="{{ field.display_property }}"{% endif %}>{{notes}}</td>
        </tr>
    {%- endif -%}
    {%- if field.field_name == 'related_resource' -%}
        {# Show full path to dataset #}
        {% set related_resource = pkg_dict.get('related_resource', '') %}
        <tr>
        <th scope="row" class="dataset-label">{{
          h.scheming_language_text(field.label) }} 
        </th>
            <td class="dataset-details"{% if field.display_property %} property="{{ field.display_property }}"{% endif %}>
                {% for dataset_id in related_resource %}
                {{ h.url_from_dataset_id(dataset_id) if h.is_dataset_public(dataset_id) }}{% if not loop.last %}<br>{% endif %}
                {% endfor %}
            </td>
        </tr>
    {%- endif -%}
    {%- if field.field_name == 'is_referenced_by' -%}
        {# Received value is a JSON array as string. Show full path(s) to dataset(s) #}
        {% set is_referenced_by = pkg_dict.get('is_referenced_by', '') %}
        {% set is_referenced_by_list = h.from_json(is_referenced_by) %}
        <tr>
        <th scope="row" class="dataset-label">{{
          h.scheming_language_text(field.label) }} 
        </th>
        <td class="dataset-details"{% if field.display_property %} property="{{ field.display_property }}"{% endif %}>
          {% for dataset_id in is_referenced_by_list %}
            {{ h.url_from_dataset_id(dataset_id) if h.is_dataset_public(dataset_id) }}{% if not loop.last %}<br>{% endif %}
          {% endfor %}
      </td>
        </tr>
    {%- endif -%}
    {%- if field.field_name not in exclude_fields
        and field.display_snippet is not none -%}
      <tr>
        <th scope="row" class="dataset-label">{{ h.scheming_language_text(field.label) }}</th>
        <td class="dataset-details"{% if field.display_property %} property="{{ field.display_property }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, schema=schema -%}</td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("State") }}</th>
      <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
    </tr>
  {% endif %}
{% endblock %}
