*

!.coveragerc
!.gitignore
!dev-requirements.txt
!LICENSE
!MANIFEST.in
!README.md
!requirements.txt
!setup.cfg
!setup.py
!test.ini
!package.json
!package-lock.json
!rollup.config.js
!tsconfig.json

!/ckanext/
!/ckanext/digitraffic_theme/
!/ckanext/digitraffic_theme/**/
!/ckanext/digitraffic_theme/**/*.*
!/ckanext/__init__.py

__pycache__