*

!.coveragerc
!.gitignore
!dev-requirements.txt
!LICENSE
!MANIFEST.in
!README.md
!requirements.txt
!setup.cfg
!setup.py
!test.ini
!package.json
!package-lock.json
!rollup.config.js
!tsconfig.json
!playwright.config.ts
!postcss.config.js
!pnpm-lock.yaml

!/ckanext/
!/ckanext/digitraffic_theme/
!/ckanext/digitraffic_theme/**/
!/ckanext/digitraffic_theme/**/*.*
!/ckanext/__init__.py

!/src
!/src/**/
!/src/**/*

!/e2e
!/e2e/**/
!/e2e/**/*

__pycache__

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
