*

!.coveragerc
!.gitignore
!dev-requirements.txt
!LICENSE
!MANIFEST.in
!README.md
!requirements.txt
!setup.cfg
!setup.py
!test.ini

!/ckanext/
!/ckanext/digitraffic_opentelemetry/
!/ckanext/digitraffic_opentelemetry/**/
!/ckanext/digitraffic_opentelemetry/**/*.*
!/ckanext/__init__.py

__pycache__
