include README.md
include LICENSE
include requirements.txt
recursive-include ckanext/digitraffic_opentelemetry *.html *.json *.js *.less *.css *.mo *.yml *.yaml
recursive-include ckanext/digitraffic_opentelemetry/migration *.ini *.py *.mako
