{% ckan_extends %}

{% block package_notes %}
  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
  {% if (h.scheming_field_by_name(schema.dataset_fields, 'notes') or
    h.scheming_field_by_name(schema.dataset_fields, 'notes_translated')) and
    pkg.notes%}
    {# Show English value if current language not available #}
    {% set notes = pkg.get('notes_translated', {}).get(request.environ.CKAN_LANG) or pkg.get('notes_translated', {}).get("en", pkg.notes)  %}
    <div class="notes embedded-content">
      {{ h.render_markdown(notes) }}
    </div>
  {% endif %}
{% endblock %}

{% block package_additional_info %}
    <section class="rdf-links">
        <h3>RDF links</h3>
        {% with endpoint=h.dcat_get_endpoint('dataset')  %}
            <a href="{{ h.url_for(endpoint, _id=pkg.id, _format='xml', _external=True) }}" type="application/rdf+xml" target="_blank">{% trans %}XML format{% endtrans %}</a>
            <a href="{{ h.url_for(endpoint, _id=pkg.id, _format='n3', _external=True) }}" type="text/n3" target="_blank">{% trans %}N3 format{% endtrans %}</a>
            <a href="{{ h.url_for(endpoint, _id=pkg.id, _format='ttl', _external=True) }}" type="text/ttl" target="_blank">{% trans %}TTL format{% endtrans %}</a>
            <a href="{{ h.url_for(endpoint, _id=pkg.id, _format='jsonld', _external=True) }}" type="application/ld+json" target="_blank">{% trans %}JSON format{% endtrans %}</a>
        {% endwith %}
    </section>
    {{ super() }}

{% endblock %}