<!-- Fix for https://github.com/ckan/ckanext-scheming/pull/420 and we need to modify
     the special handling of format and license information by CKAN and the Scheming extension.
     This is because we save all metadata as RDF -->

{% ckan_extends %}

{%- block resource_license -%}
{# License row is provided by the default implementation of resource_fields #}
{%- endblock -%}

{%- block resource_more_items -%}
{# Content of resource_more_items is moved to end of the file #}
{%- endblock -%}

{%- block resource_fields -%}
    {% with exclude_fields = [
       'name',
       'description',
       'url',
       'format',
       'format_iri'
    ] %}
        {%- for field in schema.resource_fields -%}
            {%- if field.field_name not in exclude_fields
                and field.display_snippet is not none -%}
                <tr>
                    <th scope="row">
                        {{- h.scheming_language_text(field.label) -}}
                    </th>
                    <td>
                        {%- snippet 'scheming/snippets/display_field.html',
                      field=field, data=res, entity_type='dataset',
                      object_type=dataset_type -%}
                    </td>
                </tr>
            {%- endif -%}
        {%- endfor -%}
    {% endwith %}
    {% with schema_resource_fields = schema.resource_fields|map(attribute="field_name")|list() %}
        {% for key, value in res.items() %}
            {% set resource_item_not_in_schema = key is not in schema_resource_fields %}
            {% set k_v = h.format_resource_items([(key, value)])[0] %}
            {% if k_v|length == 2 %}
                {% set k = k_v|first %}
                {% set v = k_v|last %}
                {% if k not in ('created', 'metadata modified', 'last modified', 'format', 'format_iri') and resource_item_not_in_schema%}
                    <tr class="toggle-more"><th scope="row">{{ k | capitalize }}</th><td>{{ v }}</td></tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endwith %}
{%- endblock -%}
