select, input {
  border-radius: var(--fds-border-radius) !important;
}

select {
  option {
    color: var(--fds-color-text-1000);
  }
}

:root {
  --digitraffic-focus-z-index: 1000;
  :focus-visible {
    outline: 6px solid var(--fds-color-interactive-100) !important;
    outline-offset: 2px !important;
  }
  --digitraffic-data-form-cell-padding: 20px;
}

.display-none {
    display: none !important;
}