@import '../../tmp/ckan_base/scss/main';

@import '@fintraffic/fds-coreui-css/dist/tokens';
@import '@fintraffic/fds-coreui-css/dist/coreui';
@import '@fintraffic/fds-coreui-css/dist/fonts-public-sans';
@import '@fintraffic/fds-coreui-css/dist/fonts-public-sans-italic';

@import '@fintraffic/fds-coreui-css/src/scss/tokens';
@import '@fintraffic/fds-coreui-css/src/scss/variables';


// Bootstrap Icons (MIT License) - https://icons.getbootstrap.com/
// The font files are included from the bootstrap-icons npm package
$bootstrap-icons-font-dir: "/fonts/";
@import 'bootstrap-icons/font/bootstrap-icons';

@import 'tokens';

@import 'variables';

@import 'common';
@import 'layout';

@import 'components/navigation';
@import 'components/breadcrumb';
@import 'components/account_masthead';
@import 'components/button';
@import 'components/error_block';
@import 'components/footer';
@import 'components/input';
@import 'components/textarea';
@import 'components/select';
@import 'components/datetime';
@import 'components/form';
@import 'components/form_repeating_subfields';
@import 'components/dataset_introduction';
@import 'components/homepage';
@import 'components/dataset_view';



@import 'modifiers/errors';
@import 'modifiers/form_control';