extensions:
  health_check:
receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  awsxray:
    endpoint: 0.0.0.0:2000
    transport: udp

processors:
  batch/traces:
    timeout: 1s
    send_batch_size: 50
  batch/metrics:
    timeout: 60s
  filter/ottl:
    error_mode: ignore
    traces:
      span:
        # Ignore known static assets
        - IsMatch(attributes["http.target"], "/webassets/vendor/.*_select2\\.css")
        - IsMatch(attributes["http.target"], "/webassets/vendor/.*_vendor\\.js")
        - IsMatch(attributes["http.target"], "/webassets/vendor/.*_bootstrap\\.js")
        - IsMatch(attributes["http.target"], "/webassets/vendor/.*_fontawesome\\.css")
        - IsMatch(attributes["http.target"], "/webassets/vendor/.*_htmx\\.js")
        - IsMatch(attributes["http.target"], "/webassets/vendor/.*_jquery\\.js")
        - IsMatch(attributes["http.target"], "/webassets/ckanext-scheming/.*\\.css")
        - IsMatch(attributes["http.target"], "/webassets/ckanext-digitraffic_theme/.*DigitrafficMain\\.js")
        - IsMatch(attributes["http.target"], "/webassets/ckanext-digitraffic_theme/.*-digitraffic-theme\\.css")
        - IsMatch(attributes["http.target"], "/webassets/base/.*_ckan\\.js")
        - IsMatch(attributes["http.target"], "/webassets/base/.*_main\\.js")
        - IsMatch(attributes["http.target"], "/webassets/base/.*_main\\.css")
        - IsMatch(attributes["http.target"], "/images/hero_image.jpg")
        - IsMatch(attributes["http.target"], "/favicon.svg")
        - IsMatch(attributes["http.target"], "/favicon.ico")
        - IsMatch(attributes["http.target"], "/assets/fintraffic_horizontal_white.svg")
        - IsMatch(attributes["http.target"], "/base/vendor/fontawesome-free/.*")
        - IsMatch(attributes["http.target"], "/assets/.*")
        # Ignore Health Check Requests
        - (IsMatch(attributes["http.target"], "/api/3/action/status_show") and IsMatch(attributes["http.host"], "localhost:5000"))
        - (IsMatch(attributes["http.target"], "/solr/ckan/admin/ping") and IsMatch(attributes["http.host"], "localhost:8983"))
exporters:
  awsxray:
    indexed_attributes:
      - user.id
      - w3c.trace_id
      - aws.cf.id
      - otel.resource.service.name

service:
  pipelines:
    traces:
      receivers: [otlp,awsxray]
      processors: [filter/ottl,batch/traces]
      exporters: [awsxray]

  extensions: [health_check]