extensions:
  health_check:
receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  awsxray:
    endpoint: 0.0.0.0:2000
    transport: udp

processors:
  batch/traces:
    timeout: 1s
    send_batch_size: 50
  batch/metrics:
    timeout: 60s
  transform/traces:
    # Relevant documentation for processors:
    # https://opentelemetry.io/docs/collector/configuration/#processors
    # Relevant documentation for transform:
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/transformprocessor/README.md
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/ottl/README.md#getting-started
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/ottl/LANGUAGE.md
    trace_statements:
      # AWS Collector turns W3C Trace ID into the X-Ray Trace ID. We want to keep the W3C Trace ID around as an attribute.
      - set(span.attributes["w3c.trace_id"], span.trace_id.string) where IsMatch(span.trace_id.string, "^[0-9a-f]{32}$")

exporters:
  awsxray:

service:
  pipelines:
    traces:
      receivers: [otlp,awsxray]
      processors: [transform/traces, batch/traces]
      exporters: [awsxray]

  extensions: [health_check]