{% ckan_extends %}

{%- block title -%}
  {{ h.get_site_title() }}
{% endblock -%}

{% block styles %}
  {{ super() }}
  {# Import digitraffic_theme.css using Webassets. 'digitraffic_theme/' is
    the name that the digitraffic_theme/fanstatic directory was registered
    with when the toolkit.add_resource() function was called.
    'digitraffic_theme' is the name to the Webassets bundle file,
    registered inside webassets.yml file. #}
  {% asset 'digitraffic_theme/digitraffic_theme-css' %}
{% endblock %}
{%- block head_extras %}
  {% snippet 'snippets/tracking/matomo.html' %}
  {% snippet 'snippets/tracking/cookie_consent.html' %}
{% endblock %}
{% block scripts %}
  {% asset 'digitraffic_theme/digitraffic_main-js'%}
{% endblock %}