<div id="footer-wrapper">
    <footer id="footer">
        <div id="footer-branding">
            <a href="https://www.fintraffic.fi/fi">
                <svg viewBox="0 0 253 42" style="height: 18px">
                    <use href="/assets/fintraffic_horizontal_white.svg#fintraffic_horizontal_white"></use>
                </svg>
            </a>
            <a href="https://www.fintraffic.fi/fi">
                fintraffic.fi
            </a>
        </div>
        <div id="footer-divider"></div>
        {% with first_column_links=[
        {
        "title": "Liikennetilanne",
        "url": "https://liikennetilanne.fintraffic.fi"
        },
        {
        "title": "Fintraffic Mobiili",
        "url": "https://www.fintraffic.fi/fi/mobiili"
        },
        {
        "title": "Palauteväylä",
        "url": "https://palautevayla.fi/aspa"
        },
        {
        "title": "Junalähdöt",
        "url": "https://junalahdot.fi/"
        },
        {
        "title": "Fintraffic Sky",
        "url": "https://sky.fintraffic.fi/"
        }
        ],
        second_column_links=[
        {
        "title": "Digitraffic",
        "url": "https://www.digitraffic.fi/"
        },
        {
        "title": "Digitransit",
        "url": "https://digitransit.fi/"
        },
        {
        "title": "NAP",
        "url": "https://www.finap.fi"
        }
        ],
        third_column_links=[
        {
        "title": "Saavutettavuus",
        "url": "https://www.fintraffic.fi/fi/fintraffic/saavutettavuusselosteet"
        },
        {
        "title": "Tietosuoja ja käyttöehdot",
        "url": "https://www.fintraffic.fi/fi/fintraffic/tietosuoja-ja-kayttoehdot"
        },
        {
        "title": "Palaute",
        "url": "https://www.fintraffic.fi/fi/palaute"
        },
        {
        "title": "Yhteystiedot",
        "url": "https://www.fintraffic.fi/fi/yhteystiedot"
        }
        ] %}
        <nav class="navigation"
             id="block-traffic-footer">
            {% snippet "snippets/dt_footer/link_column.html", links=first_column_links %}
            {% snippet "snippets/dt_footer/link_column.html", links=second_column_links %}
            {% snippet "snippets/dt_footer/link_column.html", links=third_column_links %}
        </nav>
        {% endwith %}
        <div class="social-media-items">
            <a href="https://www.facebook.com/FintrafficFI/"
               rel="noreferrer">
                <span class="visually-hidden">Follow us on Facebook</span>
                <i data-lucide="facebook"></i>
            </a>
            <a href="https://twitter.com/Fintraffic_fi"
               rel="noreferrer">
                <span class="visually-hidden">Follow us on Twitter</span>
                <i data-lucide="twitter"></i>
            </a>
            <a href="https://www.instagram.com/fintraffic_stories_fi"
               rel="noreferrer">
                <span class="visually-hidden">Follow us on Instagram</span>
                <i data-lucide="instagram"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCpnhwBRjt58yUu_Oky7vyxQ"
               rel="noreferrer">
                <span class="visually-hidden">Follow us on Youtube</span>
                <i data-lucide="youtube"></i>
            </a>
            <a href="https://www.linkedin.com/company/fintraffic"
               rel="noreferrer">
                <span class="visually-hidden">Follow us on LinkedIn</span>
                <i data-lucide="linkedin"></i>
            </a>
        </div>
    </footer>
</div>