<nav id="top-navigation" data-module="digitraffic_core_top_navigation">
    <a href="https://www.fintraffic.fi/fi">
        <svg viewBox="0 0 253 42" style="height: 18px">
            <use href="/assets/fintraffic_horizontal_white.svg#fintraffic_horizontal_white"></use>
        </svg></a>
    <ul>
        <li><a href="https://liikennetilanne.fintraffic.fi/" target="_blank" rel="noopener noreferrer">Liikennetilanne</a></li>
        <li><a href="https://www.palautevayla.fi/aspa?lang=fi" target="_blank" rel="noopener noreferrer">Palauteväylä</a></li>
        <li><a href="https://junalahdot.fintraffic.fi/" target="_blank" rel="noopener noreferrer">Junalähdöt</a></li>
        <li><a href="https://www.fintraffic.fi/fi/mobiili" target="_blank" rel="noopener noreferrer">Fintraffic Mobiili</a></li>
        <li><a href="https://matka.fintraffic.fi/" target="_blank" rel="noopener noreferrer">Fintraffic Matka</a></li>
        <li><a href="https://sky.fintraffic.fi/" target="_blank" rel="noopener noreferrer">Fintraffic Sky</a></li>
        <li><a href="https://www.digitraffic.fi" target="_blank" rel="noopener noreferrer">Digitraffic</a></li>
        <li><a href="https://digitransit.fi/" target="_blank" rel="noopener noreferrer">Digitransit</a></li>
        <li><a href="https://finap.fi/#/" target="_blank" rel="noopener noreferrer">NAP</a></li>
    </ul>
</nav>