name: Build and install Docker images

on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment"
        required: true
        type: environment
        default: "test"
      ref:
        description: "Branch/tag/SHA of digitraffic-catalog-private"
        required: true
        default: "master"
      install_ckan:
        required: true
        type: boolean
        default: true
      install_solr:
        required: true
        type: boolean
        default: true
      install_nginx:
        required: true
        type: boolean
        default: true

jobs:
  build:
    if: github.repository != 'tmfg/digitraffic-catalog'
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      actions: read
    environment: ${{ github.event.inputs.env }}

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          role-session-name: gh-actions-install-images-${{ github.event.inputs.env }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: login to AWS ECR
        id: login-ecr
        uses: docker/login-action@v3
        with:
          # <aws-account-number>.dkr.ecr.<region>.amazonaws.com
          registry: ${{ secrets.ECR_URL }}

      - name: Use Node.js 16
        uses: actions/setup-node@v4
        with:
          node-version: 16

      - name: create extensions
        if: github.event.inputs.install_ckan == 'true'
        run: |
          # npm ci  

          mkdir docker/ckan/ckanext
          # copy directory
          cp -R ext/ckanext-digitraffic_theme docker/ckan/ckanext/ckanext-digitraffic_theme
          cp -R ext/ckanext-entraid_authenticator docker/ckan/ckanext/ckanext-entraid_authenticator
          cp -R ext/ckanext-digitraffic_fluent docker/ckan/ckanext/ckanext-digitraffic_fluent
          cp -R ext/ckanext-scheming docker/ckan/ckanext/ckanext-scheming

      - name: CKAN build
        if: github.event.inputs.install_ckan == 'true'
        uses: docker/build-push-action@v6
        with:
          context: ./docker/ckan
          file: ./docker/ckan/Dockerfile
          push: true
          platforms: linux/amd64
          tags: ${{ secrets.ECR_URL }}/dt-ckan-repository:${{ github.sha }}

      - name: Solr build
        if: github.event.inputs.install_solr == 'true'
        uses: docker/build-push-action@v6
        with:
          context: ./docker/solr
          file: ./docker/solr/Dockerfile
          push: true
          platforms: linux/arm64
          tags: ${{ secrets.ECR_URL }}/dt-solr-repository:${{ github.sha }}

      - name: Nginx build
        if: github.event.inputs.install_nginx == 'true'
        uses: docker/build-push-action@v6
        with:
          context: ./docker/nginx
          file: ./docker/nginx/Dockerfile
          push: true
          platforms: linux/arm64
          tags: ${{ secrets.ECR_URL }}/dt-nginx-repository:${{ github.sha }}
          build-args: |
            ENVIRONMENT=${{ github.event.inputs.env }}
