name: Run tests

on:
  workflow_dispatch:
  push:

jobs:
  run_tests:
    if: github.repository != 'tmfg/digitraffic-catalog'
    runs-on: ubuntu-20.04
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4

      - name: Setup environment
        run: |
          cp -r ext docker/ckan/ckanext
          cp ext/ckanext-entraid_authenticator/.env.example local-env/.env_entra

      - name: Start CKAN
        working-directory: local-env
        run: ./start-local-ckan.sh up build_image ci

      - name: Wait for containers
        run: |
          while [ $(docker inspect --format='{{.State.Health.Status}}' datakatalogi-local-ckan-1) != 'healthy' ]; do sleep 1; done;

      - name: Run tests
        working-directory: local-env
        run: ./run-digitraffic-theme-tests-on-docker.sh
