name: Run tests

on:
  workflow_dispatch:
  push:

jobs:
  run_tests:
    if: github.repository != 'tmfg/digitraffic-catalog'
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v5

      - name: Setup environment
        run: |
          cp -r ext docker/ckan/ckanext
          cp ext/ckanext-entraid_authenticator/.env.example local-env/.env_entra
          touch local-env/.env_test_users

      - name: Start CKAN
        working-directory: local-env
        run: ./start-local-ckan.sh up build_image ci

      - name: Wait for containers
        working-directory: local-env
        run: bash ./wait-for-containers.sh

      - name: Run tests
        working-directory: local-env
        run: ./run-digitraffic-theme-tests-on-docker.sh

      - name: Upload Docker logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: docker-logs
          path: ./local-env/docker-logs.txt
          retention-days: 30
