name: Run tests

on:
  workflow_dispatch:
    inputs:
      config-repo-branch:
        description: "Branch or tag of CI-repo"
        required: true
        default: "master"
  push:

jobs:
  run_tests:
    if: github.repository != 'tmfg/digitraffic-catalog'
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6

      - name: Checkout CI-repo
        uses: actions/checkout@v6
        with:
          repository: ${{ secrets.CONFIG_REPO_NAME }}
          ssh-key: ${{ secrets.CONFIG_REPO_SSH_KEY }}
          ref: ${{ inputs.config-repo-branch || 'master' }}
          path: digitraffic-ci

      - name: Setup environment
        run: |
          cp ext/ckanext-entraid_authenticator/.env.example local-env/.env_entra
          touch local-env/.env_test_users

      - name: Start CKAN
        working-directory: local-env
        run: DIGITRAFFIC_CI_PATH=${{ github.workspace }}/digitraffic-ci ./start-local-ckan.sh up build_image ci

      - name: Wait for containers
        working-directory: local-env
        run: bash ./wait-for-containers.sh

      - name: Run tests
        working-directory: local-env
        run: ./run-digitraffic-core-tests-on-docker.sh

      - name: Upload Docker logs
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: docker-logs
          path: ./local-env/docker-logs.txt
          retention-days: 30
