name: Run E2E tests

on:
  workflow_dispatch:
    inputs:
      config-repo-branch:
        description: "Branch or tag of CI-repo"
        required: true
        default: "master"
  push:

jobs:
  run_tests:
    if: github.repository != 'tmfg/digitraffic-catalog'
    runs-on: ubuntu-24.04
    environment: test
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6

      - name: Checkout CI-repo
        uses: actions/checkout@v6
        with:
          repository: ${{ secrets.CONFIG_REPO_NAME }}
          ssh-key: ${{ secrets.CONFIG_REPO_SSH_KEY }}
          ref: ${{ inputs.config-repo-branch || 'master' }}
          path: digitraffic-ci

      - name: Setup environment
        env:
          E2E_SYSADMIN_ID: ${{ secrets.E2E_SYSADMIN_ID }}
          E2E_SYSADMIN_NAME: ${{ secrets.E2E_SYSADMIN_NAME }}
          E2E_SYSADMIN_EMAIL: ${{ secrets.E2E_SYSADMIN_EMAIL }}
          E2E_SYSADMIN_FULLNAME: ${{ secrets.E2E_SYSADMIN_FULLNAME }}
          E2E_SYSADMIN_USERNAME: ${{ secrets.E2E_SYSADMIN_USERNAME }}
          E2E_SYSADMIN_PASSWORD: ${{ secrets.E2E_SYSADMIN_PASSWORD }}
          E2E_ORGANIZATION_ADMIN_USERNAME: ${{ secrets.E2E_ORGANIZATION_ADMIN_USERNAME }}
          E2E_ORGANIZATION_ADMIN_PASSWORD: ${{ secrets.E2E_ORGANIZATION_ADMIN_PASSWORD }}
          E2E_ORGANIZATION_EDITOR_USERNAME: ${{ secrets.E2E_ORGANIZATION_EDITOR_USERNAME }}
          E2E_ORGANIZATION_EDITOR_PASSWORD: ${{ secrets.E2E_ORGANIZATION_EDITOR_PASSWORD }}
          E2E_ORGANIZATION_MEMBER_USERNAME: ${{ secrets.E2E_ORGANIZATION_MEMBER_USERNAME }}
          E2E_ORGANIZATION_MEMBER_PASSWORD: ${{ secrets.E2E_ORGANIZATION_MEMBER_PASSWORD }}
          ENTRA_CLIENT_ID: ${{ secrets.ENTRA_CLIENT_ID }}
          ENTRA_CLIENT_SECRET: ${{ secrets.ENTRA_CLIENT_SECRET }}
          ENTRA_AUTHORITY: ${{ secrets.ENTRA_AUTHORITY }}
          CKAN_SITE_URL: ${{ vars.CKAN_SITE_URL }}
        run: |
          touch local-env/.env_entra
          echo "ENTRA_CLIENT_ID=${ENTRA_CLIENT_ID}" > local-env/.env_entra
          echo "ENTRA_CLIENT_SECRET=${ENTRA_CLIENT_SECRET}" >> local-env/.env_entra
          echo "ENTRA_AUTHORITY=${ENTRA_AUTHORITY}" >> local-env/.env_entra
          echo "CKAN_SITE_URL=${CKAN_SITE_URL}" >> local-env/.env_entra
          
          touch local-env/.env_test_users
          echo "E2E_SYSADMIN_ID=${E2E_SYSADMIN_ID}" > local-env/.env_test_users
          echo "E2E_SYSADMIN_NAME=${E2E_SYSADMIN_NAME}" >> local-env/.env_test_users
          echo "E2E_SYSADMIN_EMAIL=${E2E_SYSADMIN_EMAIL}" >> local-env/.env_test_users
          echo "E2E_SYSADMIN_FULLNAME=${E2E_SYSADMIN_FULLNAME}" >> local-env/.env_test_users
          
          touch ext/ckanext-digitraffic_core/.env.playwright
          echo "TEST_SITE_URL=${CKAN_SITE_URL}" > ext/ckanext-digitraffic_core/.env.playwright
          echo "E2E_SYSADMIN_USERNAME=${E2E_SYSADMIN_USERNAME}" >> ext/ckanext-digitraffic_core/.env.playwright
          echo "E2E_SYSADMIN_PASSWORD=${E2E_SYSADMIN_PASSWORD}" >> ext/ckanext-digitraffic_core/.env.playwright
          echo "E2E_ORGANIZATION_ADMIN_USERNAME=${E2E_ORGANIZATION_ADMIN_USERNAME}" >> ext/ckanext-digitraffic_core/.env.playwright
          echo "E2E_ORGANIZATION_ADMIN_PASSWORD=${E2E_ORGANIZATION_ADMIN_PASSWORD}" >> ext/ckanext-digitraffic_core/.env.playwright
          echo "E2E_ORGANIZATION_EDITOR_USERNAME=${E2E_ORGANIZATION_EDITOR_USERNAME}" >> ext/ckanext-digitraffic_core/.env.playwright
          echo "E2E_ORGANIZATION_EDITOR_PASSWORD=${E2E_ORGANIZATION_EDITOR_PASSWORD}" >> ext/ckanext-digitraffic_core/.env.playwright
          echo "E2E_ORGANIZATION_MEMBER_USERNAME=${E2E_ORGANIZATION_MEMBER_USERNAME}" >> ext/ckanext-digitraffic_core/.env.playwright
          echo "E2E_ORGANIZATION_MEMBER_PASSWORD=${E2E_ORGANIZATION_MEMBER_PASSWORD}" >> ext/ckanext-digitraffic_core/.env.playwright

      - name: Start CKAN
        working-directory: local-env
        run: DIGITRAFFIC_CI_PATH=${{ github.workspace }}/digitraffic-ci ./start-local-ckan.sh up build_image ci

      - name: Wait for containers
        working-directory: local-env
        run: bash ./wait-for-containers.sh

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: "pnpm"
          cache-dependency-path: ./ext/ckanext-digitraffic_core

      - name: Install dependencies for E2E-tests
        working-directory: ./ext/ckanext-digitraffic_core
        run: pnpm install

      - name: Install Playwright Browsers
        working-directory: ./ext/ckanext-digitraffic_core
        run: pnpm dlx playwright install --with-deps

      - name: Update Playwright
        working-directory: ./ext/ckanext-digitraffic_core
        run: pnpm exec playwright install

      - name: Run E2E-tests
        working-directory: ./ext/ckanext-digitraffic_core
        run: pnpm run e2e

      - name: Upload Playwright report
        uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: ./ext/ckanext-digitraffic_core/playwright-report/
          retention-days: 30

      - name: Upload Docker logs
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: docker-logs
          path: ./local-env/docker-logs.txt
          retention-days: 30
